{
  "presets": [
    ["env", {
      "modules": false
    }],
    "stage-1"
  ],
  "env": {
    "test": {
      "presets": [
        "env",
        "stage-1"
      ],
      "plugins": [
        "istanbul"
      ]
    }
  }
}
